<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>About us</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus a libero perspiciatis pariatur numquam mollitia facilis veritatis hic consectetur quibusdam. Aperiam cum cumque vero vitae reprehenderit accusamus corporis qui possimus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fugit quibusdam repellat, expedita libero delectus blanditiis. Sapiente debitis, deleniti unde molestias atque quibusdam consectetur, assumenda eos necessitatibus eaque itaque omnis.</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi deleniti ad veritatis iste quod ex illo molestias a sint ea nesciunt accusamus, aspernatur officiis placeat qui et libero neque itaque!</p>
            </div>
            <%- include('./partials/footer.ejs') %>


    </body>
</html>